
/* navbar logo */
#logo {
    border: .5px solid none;
    border-radius: 8px;
}

header {
    text-align: center;
    margin-top: 5%;
    text-decoration: underline;
    text-shadow: 1px 1px gray;
}

/*box container */
.container-one {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: lightblue ;
    border: 1px solid red;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    margin-bottom: 15%;
    height: 1000px;
    border-radius: 10px;
}
/* first row */
.row-one {
    display: flex;
    flex-wrap: nowrap;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    width: 100%;

}
.box-one {
    border: 5px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 2.5px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 2%;
    height: 350px;
    width: 45%;
    background-image: url("../assets/photos/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#box-one-header {
    margin-bottom:20px;
    font-size: 2vw;

}
#btn-one {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 1.2vw; 

    
}
/* hover for initial question button */
#btn-one:hover{
    font-size: 2vw;
    color: red;
    border-color: black;
}
#set-up-line{
    font-size: 1.2vw;
}
#punch-line {
    font-size: 1.5vw;
    color: red;
    font-weight: bold;
}

.box-two {
    border: 5px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 2.5px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 8%;
    margin-right: 2%;
    height: 350px;
    width: 45%;
    background-image: url("../assets/photos/hearts.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#box-two-header {
    font-size: 2vw; 
    position: relative;
}
#btn-two {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid red;
    border-radius: 10px;
    
}
/* hover for initial question button */
#btn-two:hover{
    font-size: larger;
    color: red;
    border-color: black;
}
/* inputs */
#userName{
    width: 100%;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 1px;
}
#loverName{
    width: 100%;
    border-radius: 10px;
}
/* output */
#percentage{
    text-align: center;
    font-size: 1.5vw;
}
#result {
    text-align: center;
    color: red;
    font-size: 1.2vw;
    font-weight: bold;
}

/* second row */
.row-two {
    display: flex;
    flex-wrap: nowrap;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1.5%;
    width: 100%;

}

/* box three */
.box-three {
    border: 5px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 2.5px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 2%;
    height: 350px;
    width: 45%;
    height: 350px;
    width: 45%;
    background-image: url("../assets/photos/music.jpg");
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
}
#box-three-header {
    margin-bottom:20px;
    font-size: 2vw;
}
#btn-three {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 15px;
    border: 2px solid red;
    border-radius: 10px;
    color: red;
}
#lyric-result{
    font-size: 1.5vw;
    text-align: center;
}
#artist-result {
    font-size: 1.2vw;
    font-weight: bolder;
    text-align: center;
    color: red;
}
/* hover for initial question button */
#btn-three:hover{
    font-size: larger;
    color: red;
    border-color: black;
}

/* box four */
.box-fourth {
    border: 5px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 2.5px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 8%;
    margin-right: 2%;
    height: 350px;
    width: 45%;
    background-image: url("../assets/photos/excuse.jpg");
    background-blend-mode:exclusion;
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
}
#btn-four {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 15px;
    border: 2px solid red;
    border-radius: 10px;
    
}
/* hover for initial question button */
#btn-four:hover{
    font-size: larger;
    color: red;
    border-color: black;
}
#excuse-label {
    font-size: 1.6vw;
    margin-right: 1%; ;
}
#categories {
    border: 1px solid black;
    border-radius: 5px;
}
#excuse-response{
    color: white;
    font-size: 1.5vw;
}


/* footer */
footer {  
    background-color: lightgray;
    padding: 15px;
    text-align: center;
    border-top: 1px solid black;
    bottom: 0;
    width: 100%;
    position: fixed;
}