/* navbar logo */
#logo {
    border: .5px solid none;
    border-radius: 8px;
}
/* main header */
header {
    text-align: center;
    margin-top: 5%;
    text-decoration: underline;
}
/*box container */
.container-one {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: lightblue ;
    border: 1px solid red;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    margin-bottom: 15%;
    height: 1000px;
    border-radius: 10px;
}
.box-header {
    font-size: 2vw;
    position: relative;
}

/* box-one */
.box-one {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 2.5px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 2%;
    height: 350px;
    width: 45%;
    background-color: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.game-box-one{
    /* border: 1px solid black; */
    width: 100%;
    height: 90%;
}
.inner-box-one{
    display: grid;
    grid-template-columns: repeat(3,auto);
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-bottom: 10%px;
    margin-top: 1%;
    margin:  5%;
    width: 90%;
    height: 90%;
    background-color: lightblue;
}
.cell {
    border: 1px solid black;
    font-size: 80%;
    text-align: center;
    
}
#btn-one {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 1.2vw; 
    background-color: white;
}
#btn-one:hover{
    font-size: 1.5vw;
    color: red;
    border-color: black;
/* footer */
footer {  
    background-color: lightgray;
    padding: 15px;
    text-align: center;
    border-top: 1px solid black;
    bottom: 0;
    width: 100%;
    position: fixed;
}