* {
    margin: 0%;
}

/* body {
     background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
} */

/* navbar logo */
#logo {
    border: .5px solid none;
    border-radius: 8px;
}
/* welcome header */
header {
    text-align: center;
    margin-top: 5%;
    text-decoration: underline;
    text-shadow: 1px 1px gray;
}
/* initial box container */
.container {
    /* display: flex; */
    background-color: lightgray ;
    border: 1px solid red;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    height: 800px;
    border-radius: 10px;
    background-image: url("photos/ballons.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    margin-bottom: 15%;
}
/* initial container question */
#header-question {
    text-align: center;
    position: relative;
    font-weight: bolder;
    font-size: 3rem;
    color: white;
    top: 200px;
}
/* initial question button */
#quest-one-btn {
    width: 100%;
    position: relative;
    top: 300px;
    border: 2px solid red;
    border-radius: 10px;
}
/* hover for initial question button */
#quest-one-btn:hover{
    font-size: larger;
    color: red;
    border-color: black;
}
/* flex container holding choices */
.container-two {
    background-color: lightblue;
    display: grid;
    border: 1px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    height: 800px;
    border-radius: 10px;
    margin-bottom: 15%;
}
/* row one of choices */
.row-one {
    display: grid;
    grid-column: auto;
    border: 2px solid black;
    padding: 80px;
    margin: 28px;
    border: 2px solid red;
    border-radius: 20px;

}
#random-container {
    background-image: url("photos/random.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#random-header{
    font-size: 1rem;
    font-weight: 100px;
    text-align: center;
    position: relative;
    bottom: 65px;
}
#choice-btn{
    width: 100%;
    background: linear-gradient(to right, rgb(243, 243, 6), lightblue , red);
    border: 1px solid white ;
    border-radius: 30px;
}
.row-two {
    display: grid;
    grid-column: auto;
    border: 2px solid black;
    padding: 80px;
    margin: 30px;
    border: 2px solid red;
    border-radius: 20px;
}





/* footer */
footer {
    background-color: lightgray;
    padding: 15px;
    text-align: center;
    border-top: 1px solid black;
    bottom: 0;
    width: 100%;
    position: fixed;

}